Wap_TheThaoSo/Web References/VnmCharging/WebServiceCharging3g.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PaymentVnm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="price" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="servicename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaymentVnmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PaymentVnmResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaymentVnmWithAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="price" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="servicename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cpId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PaymentVnmWithAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PaymentVnmWithAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PaymentVnmSoapIn">
    <wsdl:part name="parameters" element="tns:PaymentVnm" />
  </wsdl:message>
  <wsdl:message name="PaymentVnmSoapOut">
    <wsdl:part name="parameters" element="tns:PaymentVnmResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentVnmWithAccountSoapIn">
    <wsdl:part name="parameters" element="tns:PaymentVnmWithAccount" />
  </wsdl:message>
  <wsdl:message name="PaymentVnmWithAccountSoapOut">
    <wsdl:part name="parameters" element="tns:PaymentVnmWithAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceCharging3gSoap">
    <wsdl:operation name="PaymentVnm">
      <wsdl:input message="tns:PaymentVnmSoapIn" />
      <wsdl:output message="tns:PaymentVnmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PaymentVnmWithAccount">
      <wsdl:input message="tns:PaymentVnmWithAccountSoapIn" />
      <wsdl:output message="tns:PaymentVnmWithAccountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceCharging3gSoap" type="tns:WebServiceCharging3gSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PaymentVnm">
      <soap:operation soapAction="http://tempuri.org/PaymentVnm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentVnmWithAccount">
      <soap:operation soapAction="http://tempuri.org/PaymentVnmWithAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceCharging3gSoap12" type="tns:WebServiceCharging3gSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PaymentVnm">
      <soap12:operation soapAction="http://tempuri.org/PaymentVnm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentVnmWithAccount">
      <soap12:operation soapAction="http://tempuri.org/PaymentVnmWithAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceCharging3g">
    <wsdl:port name="WebServiceCharging3gSoap" binding="tns:WebServiceCharging3gSoap">
      <soap:address location="http://sv36.vmgmedia.vn:9203/WebServiceCharging3g.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceCharging3gSoap12" binding="tns:WebServiceCharging3gSoap12">
      <soap12:address location="http://sv36.vmgmedia.vn:9203/WebServiceCharging3g.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>