Wap_TheThaoSo/Web References/VisportNew/VnmVsp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegisterService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Shortcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Commandcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SynchronizeUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Shortcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Commandcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ServiceID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SyncType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="chargedDay" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SynchronizeUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SynchronizeUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterServiceSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterService" />
  </wsdl:message>
  <wsdl:message name="RegisterServiceSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterServiceResponse" />
  </wsdl:message>
  <wsdl:message name="SynchronizeUserSoapIn">
    <wsdl:part name="parameters" element="tns:SynchronizeUser" />
  </wsdl:message>
  <wsdl:message name="SynchronizeUserSoapOut">
    <wsdl:part name="parameters" element="tns:SynchronizeUserResponse" />
  </wsdl:message>
  <wsdl:portType name="VnmVspSoap">
    <wsdl:operation name="RegisterService">
      <wsdl:input message="tns:RegisterServiceSoapIn" />
      <wsdl:output message="tns:RegisterServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SynchronizeUser">
      <wsdl:input message="tns:SynchronizeUserSoapIn" />
      <wsdl:output message="tns:SynchronizeUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VnmVspSoap" type="tns:VnmVspSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterService">
      <soap:operation soapAction="http://tempuri.org/RegisterService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynchronizeUser">
      <soap:operation soapAction="http://tempuri.org/SynchronizeUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VnmVspSoap12" type="tns:VnmVspSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterService">
      <soap12:operation soapAction="http://tempuri.org/RegisterService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynchronizeUser">
      <soap12:operation soapAction="http://tempuri.org/SynchronizeUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VnmVsp">
    <wsdl:port name="VnmVspSoap" binding="tns:VnmVspSoap">
      <soap:address location="http://sv167.vmgmedia.vn:9001/VnmVsp.asmx" />
    </wsdl:port>
    <wsdl:port name="VnmVspSoap12" binding="tns:VnmVspSoap12">
      <soap12:address location="http://sv167.vmgmedia.vn:9001/VnmVsp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>