Wap_TheThaoSo/Web References/WS_Euro2016/Euro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WSProcessMoSportGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Service_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Command_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Request_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSProcessMoSportGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSProcessMoSportGameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSProcessMoEuro_Wap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Service_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Command_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Request_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSProcessMoEuro_WapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSProcessMoEuro_WapResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSProcessMoSportGameSoapIn">
    <wsdl:part name="parameters" element="tns:WSProcessMoSportGame" />
  </wsdl:message>
  <wsdl:message name="WSProcessMoSportGameSoapOut">
    <wsdl:part name="parameters" element="tns:WSProcessMoSportGameResponse" />
  </wsdl:message>
  <wsdl:message name="WSProcessMoEuro_WapSoapIn">
    <wsdl:part name="parameters" element="tns:WSProcessMoEuro_Wap" />
  </wsdl:message>
  <wsdl:message name="WSProcessMoEuro_WapSoapOut">
    <wsdl:part name="parameters" element="tns:WSProcessMoEuro_WapResponse" />
  </wsdl:message>
  <wsdl:portType name="EuroSoap">
    <wsdl:operation name="WSProcessMoSportGame">
      <wsdl:input message="tns:WSProcessMoSportGameSoapIn" />
      <wsdl:output message="tns:WSProcessMoSportGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSProcessMoEuro_Wap">
      <wsdl:input message="tns:WSProcessMoEuro_WapSoapIn" />
      <wsdl:output message="tns:WSProcessMoEuro_WapSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EuroSoap" type="tns:EuroSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSProcessMoSportGame">
      <soap:operation soapAction="http://tempuri.org/WSProcessMoSportGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSProcessMoEuro_Wap">
      <soap:operation soapAction="http://tempuri.org/WSProcessMoEuro_Wap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EuroSoap12" type="tns:EuroSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSProcessMoSportGame">
      <soap12:operation soapAction="http://tempuri.org/WSProcessMoSportGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSProcessMoEuro_Wap">
      <soap12:operation soapAction="http://tempuri.org/WSProcessMoEuro_Wap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Euro">
    <wsdl:port name="EuroSoap" binding="tns:EuroSoap">
      <soap:address location="http://sv167.vmgmedia.vn:8000/Euro.asmx" />
    </wsdl:port>
    <wsdl:port name="EuroSoap12" binding="tns:EuroSoap12">
      <soap12:address location="http://sv167.vmgmedia.vn:8000/Euro.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>